.artworkThumbnail {
    display: block;
    overflow: hidden;
    transition: opacity 0.5s ease;
    
}

.artworkThumbnail--img {
    width: 100%;
}

.artworkThumbnail--location {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 35px;
    padding: 25px;
}

.artworkThumbnail--name {
    font-size: 18px;
    padding: 15px 15px 25px 25px;
}

.artworkThumbnail:hover {
    opacity: 0.5;
}
