.box {
    background: var(--silver);
    box-shadow: 6px 6px 0 var(--dark-gray);
    display: inline-block;
}

.box-red {
    box-shadow: 6px 6px 0 var(--box-red);
}

.box-blue {
    box-shadow: 6px 6px 0 var(--box-blue);
}

.box-yellow {
    box-shadow: 6px 6px 0 var(--yellow);
}

@media screen and (max-width: 600px) {
    .box {
        box-shadow: 4px 4px 0 var(--dark-gray);
    }

    .box-red {
        box-shadow: 4px 4px 0 var(--box-red);
    }

    .box-blue {
        box-shadow: 4px 4px 0 var(--box-blue);
    }

    .box-yellow {
        box-shadow: 4px 4px 0 var(--yellow);
    }
}
