.carousel {
    position: relative;
    width: 100%;
}

.carousel--items {
    position: relative;
}

#testimonials .u-onlyDesktop .carousel--items {
    margin-left: 60px;
    margin-right: 60px;
}

.carousel--item {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: 150ms;
}

.carousel--item-is-hidden {
    display: none;
}

.carousel--arrow {
    position: absolute;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 10px;
    user-select: none;
    transition: 150ms;
    color: var(--white);
    font-size: 26px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    outline: none;
    z-index: 10;
}

.carousel--arrow:hover {
    opacity: 0.8;
    background: var(--silver);
    color: var(--dark-gray);
}

.carousel--arrow-dark {
    color: var(--dark-gray);
    font-size: 60px;
    width: 60px;
}

.carousel--arrow-dark:hover {
    background: inherit;
    color: var(--gray);
}

.carousel--arrow-prev {
    left: 0;
}

.carousel--arrow-next {
    right: 0;
}

.carousel--dots {
    position: relative;
    width: 100%;
    text-align: center;
    user-select: none;
}

.carousel--dot {
    display: inline-block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #afaeae;
    transition: 150ms;
    margin: 15px 3px;
}

.carousel--dots > *:hover {
    background: var(--dark-gray);
}

.carousel--dot-is-active {
    background: var(--dark-gray);
}

/* hide "next" slider before it can get eaten by the speech bubble */
@media only screen and (max-width: 800px) {
    .carousel--arrow {
        display: none;
    }

    #testimonials .u-onlyDesktop .carousel--items {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 600px) {
    .carousel--item-cover {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        height: 45vw;
        object-fit: cover;
    }
}
