.carousel {
    position: relative;
    width: 100%;
}

.carousel--slider {
    position: absolute;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 10px;
    user-select: none;
    transition: 150ms;
    color: var(--white);
    font-size: 26px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    outline: none;
}

.carousel--slider:hover {
    opacity: 0.8;
    background: var(--silver);
    color: var(--dark-gray);
}

.carousel--slider-dark {
    color: var(--dark-gray);
    font-size: 60px;
    width: 60px;
}

.carousel--slider-dark:hover {
    background: inherit;
    color: var(--gray);
}

.carousel--next {
    right: 0;
}

.carousel--dots {
    position: relative;
    width: 100%;
    text-align: center;
    user-select: none;
}

.carousel--dot {
    display: inline-block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #afaeae;
    transition: 150ms;
    margin: 15px 3px;
}

.carousel--items {
    position: relative;
}

.carousel--item {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: 150ms;
}

.carousel--item-is-hidden {
    position: fixed;
    opacity: 0;
}

.carousel--dots > *:hover {
    background: var(--dark-gray);
}

.carousel--dot-is-active {
    background: var(--dark-gray);
}
