/* carousel arrow style overrides for the testimonials */

#testimonials .carousel--prev {
    left: -60px;
}

#testimonials .carousel--next {
    right: -60px;
}

#testimonials .carousel--arrow {
    color: var(--gray);
    font-size: 60px;
    width: 60px;
}

#testimonials .carousel--arrow:hover {
    background: none;
    color: var(--dark-blue);
    opacity: 1;
}
