.emailForm {
    display: inline-block;
    width: 100%;
    max-width: 330px;
    text-align: center;
}

.emailForm--title {
    font-size: 20px;
    margin-top: 0;
    color: var(--dark-gray);
}

.emailForm--inputBox {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid var(--input-border);
    border-radius: 5px;
    background: var(--input-bg);
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    outline: none;
    transition: 150ms;
    box-shadow: none;
    font-family: "IBM Plex Sans", sans-serif;
}

.emailForm--inputBox::placeholder {
    font-style: italic;
    color: var(--gray);
}

.emailForm--inputBox:focus,
textarea:focus {
    box-shadow: 0 0 5px var(--focus-ring-good);
    border-color: var(--focus-ring-good);
}

.emailForm--inputBox:invalid:focus:not(:placeholder-shown) {
    box-shadow: 0 0 5px var(--focus-ring-bad);
    border-color: var(--focus-ring-bad);
}

@media only screen and (max-width: 600px) {
    .emailForm {
        max-width: unset;
    }

    .emailForm--inputBox {
        width: 65%;
    }

    .emailForm > .btnLink {
        width: 30%;
        font-size: 16px;
        padding: 16px;
        margin-left: 2%;
    }
}
