.event {
    display: block;
    min-width: 450px;
    padding-bottom: 10px;
}

.event--img {
    width: 100%;
    object-fit: cover;
}

.event--title {
    padding: 0px 40px 0px;
    color: #113255;
    font-family: "Libre Franklin";
    font-size: 25px;
}

.event--text {
    font-size: 17px;
    padding: 0px 40px 0px;
    color: #303030;
}

.event--bottom {
    display: flex;
    align-items: baseline;
}

.event--dateTitle {
    color: #113255;
    font-family: "Libre Franklin";
    font-size: 20px;
    flex-grow: .5;
    padding-left: 40px;
}

.event--date {
    font-size: 15px;
    flex-grow: 2;
    color: #606060;
}
.event--btn {
    flex-grow: .5;
    padding-right: 20px;
}

.event--btn2 {
    display: none;
}

@media only screen and (max-width: 600px) {
    .event {
        display: block;
        min-width: 400px;
    }

    .event--img {
        width: 100%;
        object-fit: cover;
    }

    .event--title {
        padding: 0px 30px 0px;
        font-size: 16px;
    }

    .event--text {
        font-size: 13px;
        padding: 0px 30px 0px;
    }

    .event--dateTitle {
        font-size: 14px;
        padding-left: 30px;
    }

    .event--date {
        font-size: 12px;
        color: #606060;
    }
    .event--btn {
       display: none;
    }

    .event--btn2 {
        display: block;
        padding-right: 20px;
    }
}
