.faq {
    border: 2px solid var(--dark-blue);
    border-color: var(--dark-blue);
    border-style: solid;
    border-width: 2px 2px 0 2px;
    padding: 0.75em;
    width: 100%;
}

.faq:last-of-type {
    border-bottom-width: 2px;
}

.faq--questionBox {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    width: 100%;
    outline: none;
}

.faq--question {
    color: var(--dark-blue);
    display: block;
    font-size: 20px;
    flex-grow: 1;
}

.faq--plus {
    flex-grow: 0;
    padding-left: 8px;
    font-size: 32px;
    line-height: 20px;
    transition: 0.3s ease;
    user-select: none;
}

.faq--answer {
    font-size: 15px;
    display: block;
    max-height: 0;
    transition: 0.2s ease;
    visibility: hidden;
    overflow-y: hidden;
    padding: 0 14px;
    opacity: 0;
}

.faq-is-open .faq--answer {
    max-height: 300px;
    padding: 14px;
    opacity: 1;
    visibility: visible;
}

.faq-is-open .faq--plus {
    transform: rotate(45deg);
}

@media only screen and (max-width: 600px) {
    .faq--question {
        font-size: 16px;
    }

    .faq--answer {
        font-size: 14px;
    }

    .faq--plus {
        line-height: 16px;
    }
}

@media only screen and (min-width: 1400px) {
    .faq--question {
        font-size: 22px;
    }

    .faq--answer {
        font-size: 17px;
    }

    .faq--plus {
        line-height: 22px;
    }
}
