.faqContainer {
    display: flex;
    flex-direction: column;
}

.faq {
    background-color: #FFFFFF;
    border: 2px solid #113255;
    border-color: #113255;
    border-style: solid;
    border-width: 2px 2px 0 2px; 
    padding: 0.75em;
}

.faq:last-of-type {
    border-bottom-width: 2px;
}

.faq--question {
    display: block; 
    width: 100%;
    cursor: pointer;
}

.faq--answers {
    font-size: 20px;
    display: block;
    padding: 0px 14px;
    height: 0;
    opacity: 0;
    transition: .5s ease;
}

.faq--checkbox:checked ~ .faq--answers {
    height: auto;
    opacity: 1;
    padding: 14px;
}

.faq--plus {
    float: right;
    font-size: 20px;
    transition: .2s ease;
    user-select: none;
}

.faq--checkbox:checked ~ .faq--question .faq--plus {
    transform: rotate(45deg);
}

.faq--checkbox {
    display: none;
}
