/*
 * - put nav links last?
 * - padding inside panels
 * - hide vertical bars
*/

/* ---------------------------------------- DEBUG ---------------------------------------- */

.scrollCarousel,
.homepageHeader,
.sectionHeading,
#testimonials {
    display: none !important;
}

/* ---------------------------------------- END DEBUG ---------------------------------------- */

.footer {
    display: flex;
    background: var(--silver);
}

.footer--rule {
    border: 0;
    margin: 40px 0;
    border-right: 1px solid var(--light-gray);
}

.footer--panel {
    flex-basis: 33.33%;
    margin: auto;
    padding: 40px;
}

.footer .bizCard,
.footer .footerNav,
.footer .emailForm {
    margin: auto;
}

@media only screen and (max-width: 1000px) {
    .footer {
        flex-wrap: wrap;
    }

    .footer--rule:nth-of-type(2),
    .footer--rule:nth-of-type(3) {
        display: none;
    }

    .footer--panel:nth-of-type(1),
    .footer--panel:nth-of-type(2) {
        flex-basis: calc(50% - 1px);
    }

    .footer--panel:nth-of-type(3) {
        flex-basis: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer--rule {
        display: unset !important;
        border-right: unset;
        border-top: 1px solid var(--light-gray);
        margin: 0;
        width: 80%;
    }

    .footer--panel {
        width: 100%;
    }
}
