.footer {
    display: flex;
    min-width: 1290px;
    background: var(--light-gray);
}

.footer hr {
    border: 0.5px solid var(--silver);
    margin: 40px 0;
}

.footer--panel {
    width: 33.33%;
    margin: 50px 80px;
}

.footer--logo {
    display: block;
    max-width: 75%;
    min-width: 200px;
    margin-bottom: 24px;
}

.footer--panel-middle {
    display: flex;
    padding: 10px;
    font-size: 18px;
}

.footer--navLink-section {
    width: 50%;
}

.footer--navLink-section > a {
    display: block;
    color: #303030;
    line-height: 60px;
    text-decoration: none;
    text-align: left;
    padding-left: 20%;
}

.footer--navLink-section > a:hover {
    opacity: 75%;
}

.footer--navLink-section > div {
    padding-top: 80px;
    padding-left: 20%;
}
