.footer {
    display: flex;
    background: var(--silver);
}

.footer--panel {
    flex-basis: 33.33%;
    margin: auto;
    padding: 40px;
}

.footer--rule {
    border: 0;
    margin: 40px 0;
    border-right: 1px solid var(--light-gray);
}

.footer .bizCard,
.footer .footerNav,
.footer .emailForm {
    margin: auto;
}

@media only screen and (max-width: 900px) {
    .footer {
        flex-wrap: wrap;
    }

    .footer--panel {
        padding: 30px;
    }

    .footer--panel:nth-of-type(1),
    .footer--panel:nth-of-type(2) {
        flex-basis: calc(50% - 1px);
    }

    .footer--panel:nth-of-type(3) {
        flex-basis: 100%;
        text-align: center;
    }

    .footer--rule {
        margin: 60px 0;
    }

    .footer--rule:nth-of-type(2),
    .footer--rule:nth-of-type(3) {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer--panel {
        width: 100%;
    }

    .footer--rule {
        display: unset !important;
        border-right: unset;
        border-top: 1px solid var(--light-gray);
        margin: 0;
        width: 80%;
    }
}
