.footer {
    display: flex;
    background: var(--light-gray);
    flex-wrap: wrap;
}

.footer hr {
    border-width: 0;
    border-right: 1px solid var(--silver);
    margin: 40px 0;
}

.footer--panel {
    text-align: center;
    margin: 50px 20px;
    flex-grow: 1;
}

/* -- left: business card -- */

.footer--bizCard {
    width: 240px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.footer--bizCard img {
    margin-bottom: 24px;
}

.footer--bizCard p {
    white-space: nowrap;
}

/* -- middle: nav links -- */

.footer--panel-middle {
    display: flex;
    padding: 10px;
    font-size: 18px;
}

.footer--navColumn {
    width: 50%;
    text-align: left;
    white-space: nowrap;
}

.footer--navColumn > a {
    display: block;
    color: #303030;
    line-height: 60px;
    text-decoration: none;
    text-align: left;
    padding-left: 20%;
}

.footer--navColumn > a:hover {
    opacity: 75%;
}

.footer--navColumn > div {
    padding-top: 80px;
    padding-left: 20%;
}
