.gridBox { /* a container with grid */
    display: flex;
    flex-wrap: wrap;
}

.gridBox > * {  /* applies to all the items in the grid */
    vertical-align: top;
    margin: 12px; /* the space between blocks. Doesn't affect on the components inside the blocks */
    box-sizing: border-box;
}

.gridBox-center {
    justify-content: center;
}

/* columns */

.gridBox-col1 > * {
    flex-basis: 100%;
}

.gridBox-col2 > * {
    flex-basis: 45%;
}

.gridBox-col3 > * {
    flex-basis: 30%;
}

.gridBox-col4 > * {
    flex-basis: 22%;
}
