.gridContainer{ /* a container with grid */
    background: #F5F5F5;
    padding-bottom: 10px;
    text-align: center;
}

.gridContainer > * {  /* applies to all the items in the grid */
    display: inline-block;
    background: #508EFF;
    vertical-align: top;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
