.header {
    display: flex;
    align-items: center;
    padding: 6px;
}

.header--logo {
    width: 100px;
}

.header--logo:hover {
    opacity: 0.8;
}

.header--linkLogo {
    flex-grow: 16;
    margin-right: auto;
}

.header--link {
    text-decoration: none;
    font-size: 16px;
    color: var(--gray);
    padding: 4px;
    flex-grow: 2;
    text-align: center;
}

.header--link-tight {
    flex-grow: 1;
}

.header--link:hover {
    color: var(--dark-blue);
}

.header--hamburger {
    display: none;
    margin-right: 6px;
}

.header--hamburger:hover {
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .header--link {
        display: none;
    }

    .header--hamburger {
        display: block;
        font-size: 40px;
    }
}

@media only screen and (min-width: 1200px) {
    .header--link {
        font-size: 18px;
    }

    .header .btnLink {
        font-size: 18px;
    }
}
