.header {
    min-width: 500px;
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header--logo {
    width: 100px;
}

.header--linkLogo {
    flex-grow: 2;
}
/* add hover */

.header--link {
    text-decoration: none;
    flex-grow: 1;
    font-size: 16px;
    text-align: center;
    color: #7E7E7E;
}

.header .btnLink {
   flex-grow: 1;
}

.header .btnLink + .btnLink {
    margin: 0;
    flex-grow: 1;
    display: block;
}
