.infoCard {
    display: flex;
}

.infoCard + .infoCard {
    margin-top: 100px;
}

.infoCard--img {
    width: 35%;
    object-fit: cover;
}

.infoCard--caption {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.infoCard--title {
    color: var(--dark-blue);
    font-family: "Libre Franklin", sans-serif;
    font-size: 40px;
    margin: 0;
    padding-bottom: 0.5em;
}

.infoCard--text {
    font-size: 20px;
    line-height: 150%;
    margin: 0;
    padding-bottom: 1.5em;
}

.infoCard--btn > .btnLink.btnLink-large {
    display: none;
}

.infoCardCarousel--img {
    object-fit: cover;
    width: 100%;
    height: 30vw;
}

@media only screen and (max-width: 600px) {
    .infoCard {
        flex-direction: column;
    }

    .infoCard--img {
        width: 100%;
    }

    .infoCard--title {
        font-size: 25px;
    }

    .infoCard--text {
        font-size: 15px;
    }

    .infoCard--btn {
        text-align: center;
    }
}

@media only screen and (min-width: 1500px) {
    .infoCard--caption {
        padding: 20px;
    }

    .infoCard--text {
        font-size: 30px;
    }

    .infoCard--btn > .btnLink {
        display: none;
    }

    .infoCard--btn > .btnLink.btnLink-large {
        display: inline-block;
        margin: 0;
    }
}
