.mapBox--map {
    height: 600px;
}

.mapBox--heading {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 35px;
    padding: 25px 25px 0;
}

.mapBox--text {
    font-size: 20px;
    padding: 15px 15px 25px 25px;
}

@media only screen and (max-width: 600px) {
    .mapBox--map {
        height: 500px;
    }

    .mapBox--heading {
        font-size: 28px;
    }

    .mapBox--text {
        font-size: 15px;
        padding: 15px 15px 25px 25px;
    }
}
