.missionStatement {
    position: relative;
    margin: 72px auto 0;
    border: 2px solid var(--dark-blue);
    border-radius: 34px;
    padding: 10px 80px 40px;
    text-align: justify;
}

.missionStatement--logo {
    position: absolute;
    padding: 0 20px;
    width: 200px;
    background-color: var(--white); /* clips outline */
    left: 50%;
    transform: translate(-50%, -50%);
}

.missionStatement > p {
    margin-top: 100px;
    font-size: 28px;
    font-style: italic;
    color: var(--dark-blue);
    line-height: 150%;
}

@media only screen and (max-width: 900px) {
    .missionStatement > p {
        font-size: 22px;
    }
}

@media only screen and (max-width: 600px) {
    .missionStatement {
        max-width: 80%;
        padding: 10px 30px 20px;
    }

    .missionStatement > p {
        font-size: 16px;
        margin-top: 45px;
    }

    .missionStatement--logo {
        width: 130px;
        transform: translate(-50%, -70%);
        left: 50%;
    }
}
