.muralGallery {
    /* display: none; */
}

/* .muralGallery-is-shown {
    display: flex;
} */

.muralGallery-is-hidden {
    display: none;
}

/* .muralGallery--text {
    text-align: center;
} */

.muralGallery--slider {
    /* top: -400px; */
    font-size: 100px;
    transform: rotate(-90deg);
    color: var(--dark-gray);
}

.muralGallery--show {
    text-align: center;
}

.muralGallery--text {
    margin: 0;
    font-size: 20px;
}

.muralGallery--show:hover,
.muralGallery--slider:hover {
    color: var(--dark-blue);
}
