.muralThumbnail {
    display: block;
    overflow: hidden;
    transition: opacity 0.5s ease;
}

#openMuralModal + #openMuralModal {
    margin-left: 0;
}

.muralThumbnail--img {
    width: 100%;
}

.muralThumbnail--location {
    font-size: 13px;
    color: var(--gray);
    padding: 8px 8px 0 15px;
}

.muralThumbnail--name {
    font-size: 24px;
    padding: 3px 8px 8px 15px;
}

.muralThumbnail:hover {
    opacity: 0.5;
}
