.muralThumbnail {
    display: block;
    overflow: hidden;
    transition: opacity 0.5s ease;
    margin: auto;
}

.muralThumbnail--img {
    width: 22vw;
    height: 18vw;
}

.muralThumbnail--img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.muralThumbnail--location {
    font-size: 13px;
    color: var(--gray);
    padding: 8px 8px 0 15px;
}

.muralThumbnail--name {
    font-size: 24px;
    padding: 3px 8px 8px 15px;
}

.muralThumbnail:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 700px) {
    .muralThumbnail--img {
        width: 80vw;
        height: 64vw;
    }

    .muralThumbnail--location {
        font-size: 10px;
    }

    .muralThumbnail--name {
        font-size: 18px;
    }
}
