.muralModalContainer {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.muralModal {
    display: flex;
    max-width: 1300px;
    position: relative;
}

.muralModalContainer .muralModalContainer-is-shown {
    display: block;
}

.muralModalContainer .muralModal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.muralModal--name {
    font-size: 32px;
    font-weight: bold;
    color: var(--dark-blue);
    font-family: "Libre Franklin", sans-serif;
    width: calc(100% - 0.5em); /* prevent collide w/ close btn */
}

.muralModal--caption {
    padding: 16px 32px;
    background: var(--white);
}

.muralModal--end {
    padding-top: 105px;
}

.muralModal--bold {
    font-weight: bold;
    font-size: 20px;
    color: var(--dark-gray);
}

.muralModal--text {
    font-size: 20px;
    color: var(--gray);
}

.muralModal--img {
    width: 70%;
    object-fit: cover;
}

.muralModal--icon {
    width: 22px;
    margin-right: 4px;
}

.muralModal--close {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.25em;
    font-size: 42px;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .muralModal {
        flex-direction: column;
        font-size: 17px;
    }

    .muralModal--caption {
        position: relative;
        top: -40px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .muralModal--img {
        width: 100%;
    }
}
