.navModal {
    display: none;
    padding: 30px;
    background-color: white;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.navModal-is-shown {
    display: block;
}

.navModal--linkList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navModal--link {
    text-decoration: none;
    line-height: 180%;
    font-size: 30px;
    color: var(--dark-gray);
    font-weight: bold;
}

.navModal--close {
    font-size: 60px;
    float: right;
    position: relative;
    right: -20px;
    top: -30px;
}

.navModal .btnLink {
    margin-top: 16px;
}

@media only screen and (max-width: 500px) {
    .navModal {
        width: 100%;
        min-width: unset;
    }
}

@media only screen and (max-width: 320px) {
    .navModal--link {
        line-height: 130%;
    }
}
