.navModal {
    display: none;
    padding: 30px;
}

.navModal-is-shown {
    display: block;
}

.navModal--linkList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navModal--link {
    text-decoration: none;
    line-height: 200%;
    font-size: 30px;
    color: var(--dark-gray);
    font-weight: bold;
}

.navModal--close {
    font-size: 40px;
    float: right;
    position: relative;
    right: -20px;
    top: -20px;
}

.navModal .btnLink {
    margin-top: 30px;
}
