.pressModule {
    display: flex;
    /* overflow: hidden; */
    background: #f5f5f5;
    /* width: 1080px; */
    height: 250px;
    width: 1200px;
}

.pressModule--img {
    width: 35%;
    object-fit: cover;

}

.pressModule--header {
    font-size: 18px;
    color: gray;
    padding: 40px 50px 30px;
}

.pressModule--text {
    font-size: 18px;
    color:black;
    padding: 15px 0px;
}

.pressModule--info {
    font-size: 18px;
    color:gray;
    padding: 15px 0px;
}

.pressModule--date {
    font-size: 13px;
    padding: 3px;
}
