.press {
    display: flex;
    text-decoration: none;
    background: #f5f5f5;
    width: 100%;
    color:#808080
}

.press--img {
    width: 35%;
    object-fit: cover;
}

.press--container {
    padding: 25px 50px 30px;
}

.press--headline {
    font-size: 20px;
}

.press--text {
    font-size: 20px;
    color:#303030;
}

.press--date {
    font-size: 15px;
}

.press--info {
    font-size: 20px;
}
