.scrollCarousel {
    max-height: 300px;
    overflow: hidden;
}

.scrollCarousel--contents {
    width: max-content;
    display: flex;
    animation-direction: alternate;
    animation-name: moveSlideshow;
    animation-duration: 150s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scrollCarousel--contents img {
    margin: 0 10px;
    height: 150px;
    width: 250px;
    object-fit: contain;
}

@keyframes moveSlideshow {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-90%);
    }
}
