.subFooter {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--dark-gray);
}

.subFooter > *:not(:last-child) {
    margin-right: 30px;
    flex-grow: 1;
}

.subFooter--svg {
    margin: auto;
    width: 30px;
}

.subFooter--socials {
    padding: 5px;
}

.subFooter--copyright {
    text-align: center;
    flex-grow: 2;
    color: var(--silver);
    white-space: nowrap;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .subFooter {
        flex-wrap: wrap;
    }

    .subFooter--svg {
        width: 25px;
    }

    .subFooter--copyright {
        font-size: 9px;
    }
}
