.subFooter {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #303030;
}

.subFooter > *:not(:last-child) {
    flex-grow: 1;
}

.subFooter--svg {
    width: 30px;
}

.subFooter--socials {
    padding: 5px;
}

.subFooter--text {
    text-align: right;
    flex-grow: 2;
    color: #DDDDDD;
    white-space: nowrap;
}

@media only screen and (max-width: 600px) {
    .subFooter {
        flex-wrap: wrap;
    }

    .subFooter--svg {
        width: 25px;
    }

    .subFooter--text {
        font-size: 9px;
    }

    .subFooter--copyright {
        margin: 0;
    }
}
