.teamMember {
    background-color: var(--white);
    text-align: center;
}

.teamMember--name {
    padding: 6px;
    font-size: 24px;
    color: var(--dark-gray);
}

.teamMember--role {
    padding-bottom: 6px;
    font-size: 15px;
    color: var(--gray);
}

.teamMember--photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 170px;
}

.teamMember--photo > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.teamMember--icon {
    display: inline-block;
    width: 25px;
}

@media only screen and (max-width: 600px) {
    .teamMember {
        padding: 0 15px;
    }

    .teamMember--name {
        padding: 4px;
        font-size: 17px;
        color: var(--dark-gray);
    }

    .teamMember--role {
        padding-bottom: 4px;
        font-size: 10px;
        color: var(--gray);
    }

    .teamMember--photo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 140px;
        height: 140px;
    }

    .teamMember--photo > img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .teamMember--icon {
        display: none;
    }
}
