.l-section {
    padding: 60px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.l-center {
    text-align: center;
}

.l-noScroll {
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .l-section {
        padding: 40px;
    }
}
