.l-section {
    padding: 60px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.l-section--text {
    text-align: center;
    font-size: 30px;
}

.l-center {
    text-align: center;
}

.l-noScroll {
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .l-section {
        padding: 40px 20px;
    }

    .l-section--text {
        font-size: 18px;
    }
}
