.l-section {
    padding: 60px 60px 100px;
}

.l-section-padded {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.l-section-padded > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.l-press {
    padding: 60px;
}

.l-noScroll {
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .l-section {
        padding: 50px;
    }
}
