.u-onlyMobile {
    display: none;
}

.u-text--medium {
    font-size: 20px;
}

.u-padBottom {
    padding-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    .u-onlyDesktop {
        display: none;
    }

    .u-onlyMobile {
        display: block;
    }

    .u-text--medium {
        font-size: 15px;
    }
}
