:root {
    --light-blue: #508eff;
    --dark-blue: #113255;
    --yellow: #f7e85d;
    --red: #ff3d3d;
    --box-red: #ff6d6d;
    --box-blue: #6da0ff;
    --google-cal-blue: #e3e9ff;

    /* grays */
    --white: #ffffff;
    --silver: #f5f5f5;
    --light-gray: #dddddd;
    --gray: #707070;
    --dark-gray: #303030;

    /* inputs */
    --input-bg: #fbfbfb;
    --input-border: #bbbbbb;
    --focus-ring-good: rgba(81, 203, 238, 1);
    --focus-ring-bad: rgba(228, 72, 72, 0.5);
}
