@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,700&display=swap');

/* base rules */

body {
    font-family: 'ibm plex sans', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    padding: 0 24px 24px;
}

section + section {
    padding-top: 36px;
}

h1,
h2,
h3 {
    font-family: "Libre Franklin", sans-serif;
}

/* layout rules */

.l-topbar {
    margin: 16px;
}

.l-container {
    display: flex;
    justify-content: space-between;
}

.l-sidebar {
    flex: 0 0 200px;
    height: 100vh;
    padding-left: 16px;
    position: sticky;
    top: 18px;
}

.l-main {
    flex: 0 1 auto;
    min-width: 0;
}

@media (max-width: 800px) {
    .l-sidebar {
        display: none;
    }
}

/* .sbTopbar module */

.sbTopbar {
    display: flex;
    align-items: center;
}

.sbTopbar--logo {
    width: 50px;
    margin-right: 12px;
}

/* .sbNavList module */

.sbNavList {
    padding-left: 0;
    margin: 0;
}

.sbNavList--item {
    font-size: 18px;
    list-style-type: none;
}

.sbNavList--item > a {
    display: block;
    width: 100%;
    text-decoration: none;
    line-height: 200%;
    color: var(--dark-blue);
}

.sbNavList--item > a:hover {
    font-weight: bold;
    background-color: #f9f9f9;
}

/* .sbVariant module */

.sbVariant {
    font-size: 12px;
    color: var(--gray);
    font-family: 'courier prime', monospace;
    line-height: 200%;
    font-weight: bold;
    font-style: italic;
}

/* .sbHeading module */

.sbHeading {
    width: max-content;
    font-size: 22px;
    font-weight: bold;
    line-height: 200%;
    margin: 0;
}

section .sbHeading {
    margin-bottom: 8px;
}

/* .sbPage module */

.sbPage {
    border: 1px solid #aaa;
    border-radius: 6px;
    overflow-x: hidden;
}

.sbPage--inner {
    padding: 16px;
}

.sbPage--titlebar {
    background-color: var(--silver);
    height: 24px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.sbPage--yellowBtn,
.sbPage--greenBtn,
.sbPage--redBtn {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 6px 2px;
    border-radius: 50%;
}

.sbPage--yellowBtn {
    background-color: #ee2;
}

.sbPage--redBtn {
    background-color: #f22;
}

.sbPage--greenBtn {
    background-color: #2e2;
}

@media (max-width: 620px) {
    .sbPage {
        border-radius: 16px;
        border-width: 32px 6px 6px 6px;
        border-color: #444;
        border-style: solid;
    }

    .sbPage--titlebar {
        display: none;
    }
}

/* ---- extra styles for module demos ---- */

.demo[data-module-name="box"] .box {
    margin-bottom: 24px;
    display: block !important;
    padding: 16px;
    min-width: 45vw;
}

.demo[data-module-name="gridBox"] .gridBox {
    margin-bottom: 24px;
}

.demo[data-module-name="gridBox"] .gridBox > * {
    box-sizing: border-box;
    padding: 8px;
    border: 2px dashed var(--light-blue);
    border-radius: 8px;
}
