/* base */

body {
  font-family: 'ibm plex sans';
}

section {
  padding: 24px;
}

/* .storybookHeading */

.storybookHeading {
  width: max-content;
  font-size: 20px;
  font-weight: bold;
}

section .storybookHeading {
  margin-bottom: 8px;
}  

/* .storybookPage module */

.storybookPage {
  border: 1px solid #aaa;
  border-radius: 6px;
}

.storybookPage--bar {
  background-color: #ddd;
  height: 24px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.storybookPage--yellowBtn,
.storybookPage--greenBtn,
.storybookPage--redBtn {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 6px 2px;
  border-radius: 50%;
}

.storybookPage--yellowBtn {
  background-color: #ee2;
}

.storybookPage--redBtn {
  background-color: #f22;
}

.storybookPage--greenBtn {
  background-color: #2e2;
}
